*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color: hsl(206, 17%, 28%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.choice{
    border: none;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

button{
    background-color: aquamarine;
}


#next {
    float: right;
    background-color: rgb(211, 206, 206);
    border-radius: 25px;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 20px;
    border: solid 2px black;
}

#hs-btn {
    background-color: aquamarine;
    border-radius: 25px;
    font-size: 16px;
    line-height: 22px;
    padding: 9px 20px;
    border: solid 2px black;
}

#highscores-card .hide {
    display: flex;
}

.card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide{
    display: none;
}

.correct {
    background-color: rgb(78, 242, 78);
}
.wrong{
    background-color: rgb(246, 86, 86);
}

    

@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px 0px;
        padding: 10px 15px;
    }
    
    #password {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
    }
}
